<LinkTo @route="cart" class="cart-link">
    <i class="fa fa-shopping-cart"></i>
    {{#if this.shoppingCart.itemList.length}}
    <span class="d-inline-flex justify-content-center align-items-center cart-count">
        {{this.itemCount}}
    </span>
    {{/if}}

</LinkTo>
<div class="container mt-5">
    {{yield}}
</div>